$color_background_primary: #fff;
$color_background_primary_darker: #f2f3f3;
//$color_background_primary_lighter: #;
$color_background_secondary: #282c30;
//$color_background_secondary_darker: #;
$color_background_secondary_lighter: #393e44;
$color_highlight: #d33036;
//$color_highlight_darker: #;
//$color_highlight_lighter: #;
$color_text_primary: #2d2d2d;
//$color_text_primary_lighter: #;
$color_text_primary_darker: #f2f3f3;
$color_text_secondary: #fff;
//$color_text_secondary_lighter: #;
//$color_text_secondary_darker: #;