// If you wish to compile/extend Bootstrap then uncomment line below and disable subtheme CDN
@import '../../../../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';

body {
  background-color: $color_background_primary;
  color: $color_text_primary;
  font-size: 18px;
}

header {
  background-color: $color_background_secondary;
  border-bottom: 10px solid $color_highlight;
}

h1.title {
  padding: 0 15px;
  margin-top: 60px;

  a {
    color: $color_text_secondary;

    &:hover {
      color: $color_text_primary_darker;
    }
  }
}

.page-header {
  border-bottom: 0;
}

.navbar-default, .navbar-collapse {
  color: $color_text_secondary;
  border: 0;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;

  .navbar-nav li {

    &:hover {
      background-color: $color_background_secondary_lighter;

      a {
        color: $color_text_secondary;
      }
    }

    a {
      color: $color_text_secondary;
    }
  }

  .nav, .navbar-nav {
    li.active a, li.open a {
      background-color: $color_highlight;
      color: $color_text_secondary;
      border: 0;
    }

    a {
      &:hover, &:focus {
        background-color: $color_background_secondary_lighter;
        color: $color_text_secondary;
      }
    }

    .dropdown-menu {
      background-color: $color_background_primary;
      border: 1px solid $color_background_primary_darker;

      li a {
        background-color: $color_background_primary;
        color: $color_text_primary;

        &:hover {
          background-color: $color_highlight;
          color: $color_text_secondary;
        }
      }
    }
  }

}

.region-content ul {
  list-style: none;
  padding-left: 0;

  li {
    margin-bottom: 10px;

    .field--label {
      display: block;
      color: $color_highlight;
      font-style: italic;
      font-weight: normal;
    }

    .field--item {
      font-size: large;
    }
  }
}

ul .label-default {
  display: inline;
  margin-right: 5px;
  background-color: $color_background_secondary;

  a {
    color: $color_text_secondary;
  }

  &:hover {
    background-color: $color_highlight;
  }
}

table {
  border: 1px solid $color_background_primary_darker;
}

th {
  background-color: $color_background_secondary;
  color: $color_text_secondary;

  a {
    color: $color_text_secondary;

    &:hover {
      color: $color_text_secondary;
      text-decoration: underline;
    }
  }
}

a {
  color: $color_text_primary;
  font-weight: bold;

  &:hover {
    color: $color_highlight;
    text-decoration: none;
  }
}

.btn-default, .btn-invert:hover {
  color: $color_background_primary;
  background-color: $color_highlight;
  border-color: $color_highlight;
}

.btn-invert, .bnt-default:hover {
  color: $color_highlight;
  background-color: $color_background_primary;
  border-color: $color_highlight;
}

.pagination li a {
  color: $color_highlight;
  background-color: $color_background_primary;
  border-color: $color_highlight;
}

.pagination .active a, .pagination .active a:hover, .pagination li a:hover {
  color: $color_background_primary;
  background-color: $color_highlight;
  border-color: $color_highlight;
}

.footer {
  background-color: $color_background_secondary;
  border-top: 0;

  .nav a {
    color: $color_text_secondary;

    &:hover {
      background-color: $color_background_secondary;
      text-decoration: underline;
    }
  }
}


