// If you wish to compile/extend Bootstrap then uncomment line below and disable subtheme CDN
@import '../../../../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';

body {
  background-color: $color_background_primary;
  color: $color_text_primary;
  font-size: 18px;
  font-family: "Source Sans Pro", Sans-Serif;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

header {
  background-color: $color_background_secondary;
  border-top: 10px solid $color_highlight;
  border-bottom: 2px solid $color-border;
}

h1.title {
  padding: 0 15px;
  margin-top: 60px;

  a {
    color: $color_text_secondary;

    &:hover {
      text-decoration: none;
    }
  }
}

h2.page-header {
  font-size: 28px;
}

.page-header {
  border-bottom: 0;
}

.navbar-default, .navbar-collapse {
  color: $color_text_secondary;
  border: 0;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;

  .navbar-nav li {

    &:hover {
      background-color: $color_background_secondary_lighter;

      a {
        color: $color_text_secondary;
      }
    }

    a {
      color: $color_highlight;
    }
  }

  .nav, .navbar-nav {
    li.active a, li.open a {
      background-color: $color_background_primary_darker;
      color: $color_text_secondary;
      border: 0;
    }

    a {
      font-weight: bold;

      &:hover, &:focus {
        background-color: $color_background_primary_darker;
      }
    }

    .open .dropdown-menu {
      background-color: $color_background_primary_darker;
      border: 1px solid $color_background_primary_darker;
      box-shadow: none;
      -webkit-box-shadow: none;

      li.active a {
        color: $color_highlight;
      }

      li {
        a {
          background-color: $color_background_primary_darker;
          color: $color_text_primary;
          font-weight: normal;
        }

        a.is-active, a:hover {
          color: $color_highlight;
        }
      }
    }
  }

}

button.navbar-toggle {
  float: left;
  line-height: 0.5;
  margin-bottom: 0;

  .icon-bar {
    background-color: $color_text_primary;
  }
}

button.navbar-toggle:after {
  font-size: 1.2em;
  font-weight: 600;
  position: relative;
  top: -12px;
  right: -30px;
  content: "Menu";
}

#legislation-main ul {
  list-style: none;
  padding-left: 0;

  li {
    margin-bottom: 10px;

    .field--label {
      display: block;
      font-weight: bold;
    }

    .field--item {
      font-size: large;
    }
  }
}

.main-container {
  padding: 50px 20px;
}

table {
  border: 1px solid $color_background_primary_darker;
}

th {
  background-color: $color_background_primary_darker;

  a {
    color: $color_highlight;

    &:hover {
      color: $color_text_secondary;
      text-decoration: underline;
    }
  }
}

a {
  color: $color_highlight;

  &:hover {
    color: $color_text_secondary;
    text-decoration: underline;
  }
}

label {
  display: block;
}

.bnald-legislation-search .views-exposed-form {

  div {
    margin-bottom: 20px;
  }

  .form-item-query {
    width: 100%;

    input {
      width: 100%;
    }
  }

  .form-type-select .form-select {
    height: 150px;
  }

  .form-item-from, .form-item-to {
    display: table-cell;
    padding-bottom: 20px;
    padding-right: 5px;
  }

  .form-actions {
    display: block;

    button {
      border-color: $color_highlight;
      background-color: $color_highlight;
    }
  }

  margin-bottom: 20px;
}

.btn-default, .btn-invert:hover {
  color: $color_background_primary;
  background-color: $color_highlight;
  border-color: $color_highlight;
}

.btn-invert, .btn-default:hover {
  color: $color_highlight;
  background-color: $color_background_primary;
  border-color: $color_highlight;
}

.pagination li a {
  color: $color_text_primary;
  background-color: $color_background_primary;
  border-color: $color_background_primary_darker;
}

.pagination .active a, .pagination .active a:hover, .pagination li a:hover {
  color: $color_highlight;
  background-color: $color_background_primary_darker;
  border-color: $color_background_primary_darker;
}

.footer {
  background-color: $color_background_secondary;
  border-top: 2px solid $color-border;
  color: $color_text_secondary;

  #block-statictext {
    display: inline-block;
    float: left;
  }

  a {
    color: $color_highlight;
    font-weight: bold;

    &:hover {
      color: $color_text_secondary;
      text-decoration: underline;
    }
  }

  nav {
    display: inline-block;
    float: right;

    a {
      padding-top: 0;
      padding-bottom: 0;

      &:hover {
        background-color: $color_background_secondary;
        text-decoration: underline;
      }
    }
  }
}


